@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: white;
}

.action .profile{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

}

.action .profile img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu{
    position: absolute;
    align-items: center;
    top: 10px;
    right: 0px;
    padding: 5px;
    background: rgb(206, 243, 248);
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.action .menu{
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active{ 
    top:80px;
    visibility: visible;
    opacity: 1;
}

.menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 18px;
    width: 20px;
    height: 20px;
    background: rgb(206, 243, 248);
    transform: rotate(45deg);
}

.userName{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 0.5em;
}

.userJob{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.item{
    align-items: center;
    list-style: none;
    margin-left: 25px;
    padding: 10px;
    font-size: 15px;
    border-top: 1px solid rgba(0,0,0,0.05);
    direction: flex;
    align-items: center;
}

.item .icon{
    max-width: 30px;
    margin-right: 5px;
    opacity: 0.5;
    transition: 0.5s;
}

.item:hover .icon{
    opacity: 1;
}

.item .enlace{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.item:hover .enlace{
    color: rgb(54, 213, 241);
}

