@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.BarraBusqueda{
    height:20px;
}

.context{
    margin: 20px 20px 50px;

}

.pagina{
    padding: 60px;
}